@import url('https://fonts.googleapis.com/css2?family=Lora&family=Spartan&display=swap');

header, main, footer {
    font-size: 16px;
    max-width: 960px;
    margin: 0 auto;
    font-family: cursive, arial, sans-serif; 
    padding: 10px;
    border-radius: 10px;
  }

  body {
    background-color: #AEAEAE;
  }

  header {
      background-color: #AEAEAE;
      display: flex;
      align-items: center;
  }
  
  header img {
      width: 175px;
      height: auto;
      border-radius: 10px;
  }

  .cake {
      display: flex;
      align-items: center;
      list-style: none;
  }

  header nav ul li a {
      display: block;
      padding: .50rem;
      text-decoration: none;
      font-size: 16px;
  }

  .milk {
      padding: .75rem;
  }

body {
    font-size:16px;
    background-color: #FFFFFF;
}

main section p {
    border: .20rem solid #FFFFFF;
    margin: .50rem;
    padding: 1rem;
    background-color: #38B6FF;
    border-radius: 10px;
}

main section h2 {
    font-size: 2rem;
    font-family: sans-serif;
    background-color: #0B5DB9;
    padding: 1rem;
    border-radius: 10px;
}

main section img {
    margin: .50rem;
    padding: .50rem;
    border-radius: 15px;
}

main section {
    display: grid;
}

footer {
    background-color: #AEAEAE;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main div a {
    border-radius: 10px;
}

.second {
    text-align: right;
}