header,
main,
footer {
    max-width: 650px;
    margin: 0 auto;
    font-family: Tajawal, Merriweather Sans, arial;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Josefin Sans', sans-serif;
}

header,
footer {
    background-color: lightseagreen;
    text-align: center;
}

img {
    margin: .5rem;
    height: 235px;
    width: auto;
    box-shadow: 5px 10px 8px #888888;
}