body {
    font-size: 14px;
    font-family: 'Poppins', sans-serif, arial;
    background-color: mintcream;
    margin: 0 auto;
}

h1,
h2 {
    font-family: 'Josefin Sans', sans-serif, arial;
}

img {
    width: 110px;
    height: auto;
}

.headings {
	display: flex;
	flex-direction: column;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


nav ul li a {
    color: black;
    padding: .75rem;
    text-decoration: none;
    justify-content: center;
}

nav ul li a:hover {
    background-color: black;
    color: #d00000;
}

header {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: center;
 
}

footer {
    text-align: center;
    background-color: #d00000;
    border-radius: .3rem;
    padding: 10px;
    max-width: 900px;
    margin: 0 auto;
}

main {
    max-width: 880px;
    margin: 0 auto;
}

nav {
    margin: 0 auto;
    width: 100%;
    background-color: #3f88c5;

}

.navigation {
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    padding: .75rem;
    display: block;
    text-align: left;
    text-decoration: none;
    color: black;
    font-weight: 900;
}

.navigation a:hover {
    color: white;
    background-color: black;
}

/*Will display as block elements when menu is clicked*/
.responsive li {
    display: block;
}

.contentbox {
    display: block;
    margin: 10px auto;
    border: 1px dashed #000;
    padding: 15px;
    color: #444;
    font-style: italic;
}